<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>UnemployedDA</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
	<link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='/images/icon.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='/images/icon.png') }}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
	<div id="modal-upload-file" class="modal">
		<div class="modal-content">
			<!-- <span class="close-btn" id="closeBtn">&times;</span> -->
			<form action='#' method="POST" id="uploadForm" enctype="multipart/form-data">
				<label for="file1">Docx file:</label>
				<input type="file" id="docx-file" name="file"><br><br>
				<!-- <input type="submit" value="Upload"> -->
				<button type="submit">Upload</button>

			</form>
		</div>
	</div>
	<div id="modal-login" class="modal">
		<div class="login-container" id="loginContainer">
			<!-- <span class="close-btn" id="closeBtn">&times;</span> -->
			<h2>Login</h2>
			<form id="loginForm">
				<div class="input-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" required>
				</div>
				<div class="input-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" required>
				</div>
				<button type="submit">Login</button>
			</form>
			<p id="errorMessage"></p>
		</div>
	</div>

	<header>
		<div class="header-container">
			<div class="icon-block">
				<img class="icon" src="{{ url_for('static', path='/images/icon.png') }}"" alt=" Icon">
				<h1>UNEMPLOYED DA</h1>
			</div>
			<div class="btn-block">
				<button id="uploadBtn" class="button-17" role="button">Upload Article</button>
				<button id="loginBtn" class="button-17" role="button">Login</button>
				<button id="logoutBtn" class="button-17" role="button">Logout</button>
			</div>

		</div>

	</header>

	<div class="container">
		{% for article in articles %}
		<div class="post">
			<h2><a href="{{ url_for('get_article_by_id', id=article.id|string) }}">{{ article.title }}</a></h2>
			<div class="article-metadata">
				<span>Created at: {{ article.created_at }}</span>
				<span>•</span>
				<span>Last updated: {{ article.updated_at }}</span>
				<span>•</span>
				<span>{{ article.author }}</span>
			</div>
		</div>
		{% endfor %}
		<!-- Add more posts as needed -->

	</div>

	<footer>
		&copy; 2024 UnemployedDA
	</footer>

</body>
<script src="{{ url_for('static', path='/js/script.js') }}"></script>
</html>