body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #256FB6;
    color: #fff;
    padding: 20px;
    text-align: left;
    font-family: Outfit;
}

.header-container {
    display: flex;
    align-items: center;
    /* Căn lề theo chiều dọc */
}

.icon {
    margin-right: 10px;
    /* Khoảng cách giữa icon và tiêu đề */
    width: auto;
    object-fit: contain;
    height: 40px;
}

h1 {
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.post {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post h2 {
    margin-top: 0;
}

.post p {
    margin-bottom: 0;
}

footer {
    background-color: #256FB6;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}